@import url('base.css');

@media screen and (min-width: 28em) {
    body {
        background-image: url('logos/back-cg-draft.png');
        background-size: auto !important;
        padding-left: 160px;
    }
}

@media screen and (min-width: 78em) {
    body:not(.toc-inline) #toc {
        padding-top: 160px;
        background-attachment: local !important;
    };
}

@media screen {
    body.toc-sidebar #toc {
        padding-top: 160px;
        background-attachment: local !important;
    };
}
