/* Style for an "Editor's Draft" */

@import "base.css";

:root {
  --logo-bg: red;
}

body {
  background-image: url(logos/ED.svg);
}

.head img[src*="logos/W3C"] {
  display: block;
  border: solid red;
  border: solid var(--logo-bg);
  border-width: .65rem .7rem .6rem;
  border-radius: .4rem;
  background: red;
  background: var(--logo-bg);
  color: white;
  color: var(--logo-text);
  font-weight: bold;
}
