
/* Style for an "Unofficial Draft" */

@import "base.css";

body {
  background-image: url(https://www.w3.org/StyleSheets/TR/2016/logos/UD);
  background-color: transparent;
}

html {
  background: white url(https://www.w3.org/StyleSheets/TR/2016/logos/UD-watermark);
}
