
/* Style for an "Unofficial Draft" */

@import "base.css";

body {
  background: url(logos/UD) no-repeat fixed,
              url(logos/UD-watermark-light-draft) repeat-y center left fixed,
              url(logos/UD-watermark-light-unofficial) repeat-y center right fixed;
  background-image: url(logos/UD),
                    var(--draft-watermark),
                    var(--unofficial-watermark);
  background-color: var(--bg);
}
